<template th:fragment="html" xmlns:th="http://www.w3.org/1999/XSL/Transform">
    <script src="front/js/smoothscroll.js"></script>
    <script src="front/js/popper.min.js"></script>
    <script src="front/js/bootstrap.min.js"></script>
    <script src="front/js/animsition.min.js"></script>
    <script src="front/js/owl.carousel.min.js"></script>
    <script src="front/js/wow.min.js"></script>
    <script src="front/js/jquery.pagepiling.min.js"></script>
    <script src="front/js/isotope.pkgd.min.js"></script>
    <script src="front/js/jquery.fancybox.min.js"></script>
    <script src="front/js/TweenMax.min.js"></script>
    <script src="front/js/ScrollMagic.min.js"></script>
    <script src="front/js/animation.gsap.min.js"></script>
    <script src="front/js/jquery.viewport.js"></script>
    <script src="front/js/jquery.countdown.min.js"></script>
    <script src="front/js/script.js"></script>
    <script src="front/js/sweetalert2.min.js"></script>
    <script src="front/js/vue.min.js"></script>
    <script src="front/js/axios.min.js"></script>
    <script src="front/js/moment.js"></script>
    <script src="front/assets/js/vendor.js"></script>
    <script src="front/assets/js/main.js"></script>
    <!-- 引入组件库 -->
    <script src="js/element-index.js"></script>
    <script>
        $(document).ready(function () {

            var controller = new ScrollMagic.Controller();


            new ScrollMagic.Scene({triggerElement: '.promo-3d', triggerHook: 0, duration: '50%'})
                .setTween('.promo-screen-titles', {top: '7rem', ease: Linear.easeNone})
                .addTo(controller);

            new ScrollMagic.Scene({triggerElement: '.promo-3d', triggerHook: 0, duration: '90%'})
                .setTween('.promo-3d-bg', {bottom: '-10vmin', scale: 1.6, ease: Linear.easeNone})
                .addTo(controller);

            new ScrollMagic.Scene({triggerElement: '.promo-3d', triggerHook: '0', duration: '80%'})
                .setTween('.promo-3d-man', {bottom: '-30vmin', scale: .65, ease: Linear.easeNone})
                .addTo(controller);

            new ScrollMagic.Scene({triggerElement: '.promo-3d-opacity', triggerHook: '0', duration: '20%'})
                .setTween('.promo-3d-man, .promo-3d-bg', {opacity: '0', ease: Linear.easeNone})
                .addTo(controller);

            new ScrollMagic.Scene({triggerElement: '.section-about-3d', triggerHook: '0', duration: '10%'})
                .setTween('.promo-3d-man, .promo-3d-bg', {visibility: 'hidden', ease: Linear.easeNone})
                .addTo(controller);

            new ScrollMagic.Scene({triggerElement: '.section-about-3d', triggerHook: '0'})
                .setClassToggle('.section-about-3d', 'active')
                .addTo(controller);
        })
    </script>
    <script th:inline="javascript">
        window.onload = function () {
            var regUrl = "/register"
                , loginUrl = '/login'
            var lr = new Vue({
                el: "#lr",
                data() {
                    return {
                        hasLogin:false,
                        username:"",
                        regFormVisible: false,
                        loginFormVisible: false,
                        regForm: {
                            name: '',
                            password: ''
                        },
                        loginForm: {
                            name: '',
                            password: ''
                        },
                        formLabelWidth: '120px',
                        regRules: {
                            name: [
                                {required: true, message: '用户名不能为空', trigger: 'blur'},
                                // {validator: checkName, message: "用户名已存在", trigger: 'blur'}
                            ],
                            password: [
                                {required: true, message: '密码不能为空', trigger: 'blur'},
                                {minLength: 6, maxLength: 20, message: '密码长度为6-20', trigger: 'blur'}
                            ]
                        },
                        loginRules: {
                            name: [
                                {required: true, message: '用户名不能为空', trigger: 'blur'},
                            ],
                            password: [
                                {required: true, message: '密码不能为空', trigger: 'blur'},
                                {minLength: 6, maxLength: 20, message: '密码长度为6-20', trigger: 'blur'}
                            ]
                        },
                    }
                },
                watch:{

                },
                computed: {
                    loginStatus: {
                        get:function(){
                            return [[${session.user!=null}]]
                        }
                    },
                    user:{
                        get:function(){
                            /*<![CDATA[*/
                            return [[${session.user}?${session.user.name}:_]]
                            /*]]>*/
                        }
                    }
                },
                methods: {
                    submitLoginForm(formName) {
                        var $this = this
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                axios.post(loginUrl, this.loginForm).then((response) => {
                                    var data = response.data
                                    console.log(data)
                                    if (data.code == 0) {
                                        $this.$message({
                                            type: 'success',
                                            message: '登录成功'
                                        })
                                        $this.loginFormVisible = false
                                        $this.hasLogin=true
                                        $this.username=$this.loginForm.name
                                    } else {
                                        $this.$message.error('登录失败,请重新登录')
                                    }
                                }).catch((err) => {
                                    $this.$message.error('服务器内部错误，请联系系统管理员')
                                })
                            } else {
                                return false;
                            }
                        });
                    },
                    submitRegForm(formName) {
                        var $this = this
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                axios.post(regUrl, this.regForm).then((response) => {
                                    var data = response.data
                                    if (data.code == 0) {
                                        $this.$message({
                                            type: 'success',
                                            message: '注册成功'
                                        })
                                        $this.regFormVisible = false
                                    } else {
                                        $this.$message.error('注册失败,请重新注册')
                                    }
                                }).catch((err) => {
                                    $this.$message.error('服务器内部错误，请联系系统管理员')
                                })
                            } else {
                                return false;
                            }
                        });
                    }
                }
            })
        }
    </script>
</template>
