<footer id="footer" th:fragment="html" class="footer footer-red">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-1 mb-5">
                    <h3 class="section-item-title">office</h3>
                    <div class="contact-item">166 Main Street, Beverly Hills, CA, 90210<br> United States</div>
                    <div class="contact-item"><a href="mailto:hello@lewisstudio.co">hello@lewisstudio.co</a></div>
                    <div class="contact-item"><a href="tel:+00853462188" class="phone-link">+0085 346 2188</a></div>
                    <ul class="social">
                        <li><a href=""><i class="socicon-twitter"></i></a></li>
                        <li><a href=""><i class="socicon-facebook"></i></a></li>
                        <li><a href=""><i class="socicon-googleplus"></i></a></li>
                        <li><a href=""><i class="socicon-behance"></i></a></li>
                        <li><a href=""><i class="socicon-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-5 text-center">
                    <div class="more fs14 mb-2 mt-3">So What’s Next?</div>
                    <div class="h2-3d font-custom mb-2"><strong>We’re Ready!</strong></div>
                    <div class="more more-xl"><a href="" class="underline">Let’s Chat</a></div>
                </div>
                <div class="col-md-4 mt-1 mb-5 text-right">
                    <h3 class="section-item-title">Twitter</h3>
                    <div class="twitter-item">
                        Looking for aa Creative PSD Template?
                        <br>
                        It here: <a href="javascript:;" target="_blank">https://tf.net/OAWS890a</a>
                        <div class="twitter-date"><i class="socicon-twitter"></i> 2 days ago</div>
                    </div>
                    <div class="twitter-item">
                        You need an image stock
                        <br>
                        It here: <a href="javascript:;" target="_blank">https://uph.com/567AW1</a>
                        <div class="twitter-date"><i class="socicon-twitter"></i> 4 days ago</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-info">
        <div class="container">
            <div class="copyright">&copy; 2019 <strong>LEWIS</strong>. All Rights Reserved. design by <strong>Logancee</strong></div>
        </div>
    </div>
</footer>