<header th:fragment="html" id="header" class="header header-custom header-absolute a-affix">
    <div class="container clearfix">

        <ul class="social float-left d-none d-md-block">
            <li><a href=""><i class="socicon-twitter"></i></a></li>
            <li><a href=""><i class="socicon-behance"></i></a></li>
            <li><a href=""><i class="socicon-instagram"></i></a></li>
        </ul>
        <div class="brand d-md-none">
            <a href="home-flash.html" class="nav-logo">
                <div class="rounded-logo rounded-logo-sm">
                    <svg viewbox="0 0 200 200">
                        <path id="textPath3" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0"
                              transform="translate(100,100)" fill="none" stroke-width="0"></path>
                        <g font-size="20px">
                            <text text-anchor="start">
                                <textpath xlink:href="#textPath3" startoffset="0%">• &nbsp; lewis portfolio &nbsp; •
                                    &nbsp; digital studio
                                </textpath>
                            </text>
                        </g>
                    </svg>
                    <div class="logo">LW</div>
                </div>
            </a>
        </div>

        <div class="menu-lang float-right d-none d-md-block" id="lr">
            <div v-if="loginStatus||hasLogin">
                <el-link class="menu-lang-item">{{username?username:user}}</el-link>
            </div>
            <div v-else>
                <el-link class="menu-lang-item" @click="loginFormVisible = true">登录</el-link>
                <span class="divider">|</span>
                <el-link class="menu-lang-item" @click="regFormVisible = true">注册</el-link>
            </div>
            <el-dialog title="登录" :visible.sync="loginFormVisible" :modal-append-to-body="false">
                <el-form :model="loginForm" :rules="loginRules" ref="loginForm" status-icon>
                    <el-form-item label="用户名" :label-width="formLabelWidth" prop="name">
                        <el-input v-model="loginForm.name" autocomplete="off" prefix-icon="el-icon-user"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
                        <el-input v-model="loginForm.password" prefix-icon="el-icon-lock" show-password
                                  autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="loginFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitLoginForm('loginForm')">登 录</el-button>
                </div>
            </el-dialog>
            <el-dialog title="注册" :visible.sync="regFormVisible" :modal-append-to-body="false">
                <el-form :model="regForm" :rules="regRules" ref="regForm" status-icon>
                    <el-form-item label="用户名" :label-width="formLabelWidth" prop="name">
                        <el-input v-model="regForm.name" autocomplete="off" prefix-icon="el-icon-user"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
                        <el-input type="password" v-model="regForm.password" prefix-icon="el-icon-lock" show-password
                                  autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="regFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitRegForm('regForm')">注 册</el-button>
                </div>
            </el-dialog>
        </div>

        <!--导航栏-->
        <nav class="navbar-nav d-none d-md-block">
            <ul>
                <li><a href="front_land_list?cid=1" class="nav-link">乌镇乡土</a></li>
                <li><a href="front_folk_list?cid=2" class="nav-link">乌镇文化</a></li>
                <li><a href="home" class="nav-link">乌镇首页</a></li>
                <li><a href="front_food_list?cid=3" class="nav-link">乌镇特产</a></li>
                <li><a href="front_trip_list?cid=4" class="nav-link">乌镇游记</a></li>
                <li><a href="logout" class="nav-link">退出登录</a></li>
                <li class="dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="dropdownMenuWork" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">个人中心</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuWork">
                        <ul>
                            <li><a href="front_cart_list" data-animsition-out-class="fade-out" class="menu-lang-item ">购物车</a>
                            </li>
                            <li><a href="front_check_list" data-animsition-out-class="fade-out" class="menu-lang-item">结算页面</a>
                            </li>
                            <li><a href="front_order_list" data-animsition-out-class="fade-out" class="menu-lang-item">订单页面</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="hide-menu a-nav-toggle"></div>

    <div class="menu">
        <div class="menu-lang">
            <a href="login-register" class="menu-lang-item active">登录|注册</a>
            <a href="cart" class="menu-lang-item ">购物车</a>
            <a href="checkout" class="menu-lang-item">结算页面</a>
            <a href="order" class="menu-lang-item">订单页面</a>
        </div>


    </div>
</header>