<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="rural/include/front/header::html"></head >
<body>
<div id="App">
    <div th:replace="rural/include/front/top::html"></div>
        <section class="section">
            <div class="empty-space h30-xs h100-md"></div>
            <div class="empty-space h30-xs h0-md"></div>
            <div class="container-fluid">
                <div class="row">
                    <div v-for="product in products" class="food col-sm-4 col-xs-12">
                        <div class="detail-bg-item">
                            <div class="bg-item" :style="getImgSrc(product.firstProductImage.id)"></div>
                            <div class="cell-view white-color">
                                <h4 class="h5 title">
                                    <a :href="'front_landDetail_list?id='+product.id" class="hover-text">{{product.name}}</a>
                                </h4>
                                <i>{{product.subTitle}}</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="rural/include/front/frontPage::html" ></div>
            </div>
        </section>
    <div th:replace="rural/include/front/footer::html" ></div>
    <div th:replace="rural/include/front/popup::html" ></div>
</div>
<script src="vue/land.js"></script>
</body>
</html>