<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>主页</title>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animsition.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/socicon.css" rel="stylesheet">
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="css/jquery.pagepiling.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="css/style.css" rel="stylesheet">

  </head>


  <body class="theme-yellow dark-horizontal">
    <div class="animsition">
      <div class="wrapper">
        <ul class="social social-rounded social-rounded-fixed social-rounded-dark">
          <li><a href=""><i class="socicon-twitter"></i></a></li>
          <li><a href=""><i class="socicon-facebook"></i></a></li>
          <li><a href=""><i class="socicon-googleplus"></i></a></li>
        </ul>
        <div class="establised">establised 1991</div>
        <div class="copyright-fixed">&copy; lewis 2019.&nbsp; by logancee</div>
        <div class="home-piling a-pagepiling full-height">
          <!--乌镇概况-->
          <div class="section pp-scrollable slide slide1 slide-dark">
            <div class="slide-container">
              <div class="video-container a-video" data-vimeo-width="640" data-vimeo-height="360"><iframe src="javascript:;" allowfullscreen=""></iframe></div>
              <div class="slide-bg"><div class="inside"></div></div>
              <div class="slide-video-container slide-container">
                <div class="container">
                  <div class="row slide-content">
                    <div class="col-sm-7">
                      <h1 class="slide-title font-libre"><span class="text-primary">乌镇</span><br>概述</h1>
                      <div class="slide-body">
                        <h3 class="slide-title-sub">5A级景区 &amp;十大历史文化名镇</h3>
                        <div class="slide-descr">
                          乌镇作为中国首批十大历史文化名镇和中国十大魅力名镇、全国环境优美乡镇，
                          素有“中国最后的枕水人家”之誉。2003年，乌镇被联合国授予亚太地区遗产保护杰出成就奖；
                          2006年，被列入联合国世界文化遗产保护预备清单和中国世界文化遗产预备名单重设目录；
                          2010年，乌镇旅游荣膺嘉兴市首个国家AAAAA旅游景区称号。</div>
                      </div>
                    </div>
                  </div>
                  <button class="btn-play a-video-play"><i class="icon ion-ios-play"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!--乌镇发布游记功能-->
          <div class="section pp-scrollable slide slide2">
            <div class="slide-container">
              <div class="slide-bg slide-bg-circle"><div class="inside"></div></div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="solution-num text-texture">游记</div>
                    <div class="solution-num-title">乌镇<br>经历</div>
                  </div>
                  <div class="col-lg-6">
                    <h2 class="slide-title font-libre">一次江南水乡的旅行，一同与好友分享</h2>

                    <div class="accordion solution-collapse" id="solutions">
                      <div class="solution-collapse-item">
                        <div class="solution-collapse-item-title font-libre" id="headingOne">
                          <a class="" href="" data-toggle="collapse" data-target="#solution1" aria-expanded="true" aria-controls="solution1">
                            乡土风味
                            <i class="icon-plus"></i>
                          </a>
                        </div>

                        <div id="solution1" class="collapse show" aria-labelledby="headingOne" data-parent="#solutions">
                          <div class="card-body">
                            乡下人离不了泥土，因为在乡下住，种地是最普通的谋生办法。从土里长出过光荣的历史，
                            自然也会受到土的束缚，现在很有些飞不上天的样子。<a href="service.html">查看更多</a>
                          </div>
                        </div>
                      </div>
                      <div class="solution-collapse-item">
                        <div class="solution-collapse-item-title font-libre" id="headingTwo">
                          <a class=" collapsed" href="" data-toggle="collapse" data-target="#solution2" aria-expanded="false" aria-controls="solution2">
                            乡土文化
                            <i class="icon-plus"></i>
                          </a>
                        </div>
                        <div id="solution2" class="collapse" aria-labelledby="headingTwo" data-parent="#solutions">
                          <div class="card-body">
                            文化的发展只有直接有赖于泥土的生活才会像植物一般的在一个地方生下根，
                            这些生了根在一个小地方的人，才能在悠长的时间中，从容地去摸熟每个人的生活，
                            像母亲对于她的儿女一般。
                            陌生人对于婴孩的话是无法懂的，但是在做母亲的人听来都清清楚楚，
                            还能听出没有用字音表达的意思来。 <a href="service.html">查看更多</a>
                          </div>
                        </div>
                      </div>
                      <div class="solution-collapse-item">
                        <div class="solution-collapse-item-title font-libre" id="headingThree">
                          <a class=" collapsed" href="" data-toggle="collapse" data-target="#solution3" aria-expanded="false" aria-controls="solution3">
                            乡土美景
                            <i class="icon-plus"></i>
                          </a>
                        </div>
                        <div id="solution3" class="collapse" aria-labelledby="headingThree" data-parent="#solutions">
                          <div class="card-body">
                            乌镇这个典型的江南水乡，完整地保存着晚清和民国时期水乡古镇的风貌和格局。依河筑屋，深宅大院，重脊高檐，
                            古色古香，石板小路，古旧木屋，还有清清的湖水气息，仿佛都在提示着一种情致，一种氛围。
                           <a href="service.html">查看更多</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--乌镇特产购买功能-->
          <div class="section pp-scrollable slide slide3 slide-dark">
            <div class="slide-container">
              <div class="slide-bg-list">
                <div class="slide-bg active"><div class="inside" style="background-image: url(img/piling-project1.jpg);"></div></div>
                <div class="slide-bg"><div class="inside" style="background-image: url(img/piling-project2.jpg);"></div></div>
                <div class="slide-bg"><div class="inside" style="background-image: url(img/piling-project3.jpg);"></div></div>
                <div class="slide-bg"><div class="inside" style="background-image: url(img/piling-project4.jpg);"></div></div>
                <div class="slide-bg"><div class="inside" style="background-image: url(img/piling-project5.jpg);"></div></div>
              </div>
              <div class="container">
                <div class="piling-project-list-title">购买专属于你的伴手礼</div>
                <div class="row piling-project-list">
                  <div class="col-xl-4 col-6 piling-project-item">
                    <h3 class="piling-project-title font-libre"><a href="single-project-mobile-app.html" class="a-change-bg">三白酒<br> Skate</a></h3>
                    <div class="piling-project-detail">2018 / Interaction</div>
                  </div>
                  <div class="col-xl-4 col-6 piling-project-item">
                    <h3 class="piling-project-title font-libre"><a href="single-project-branding.html" class="a-change-bg">三白酒<br>  Meyers</a></h3>
                    <div class="piling-project-detail">2018 / Branding</div>
                  </div>
                  <div class="col-xl-4 col-6 piling-project-item">
                    <h3 class="piling-project-title font-libre"><a href="single-project-branding.html" class="a-change-bg">三白酒<br> Opener</a></h3>
                    <div class="piling-project-detail">2018 / Branding</div>
                  </div>
                  <div class="col-xl-4 col-6 piling-project-item">
                    <h3 class="piling-project-title font-libre"><a href="single-project-web-design.html" class="a-change-bg">三白酒<br> Portfolio</a></h3>
                    <div class="piling-project-detail">2017 / Interaction</div>
                  </div>
                  <div class="col-xl-4 col-6 piling-project-item">
                    <h3 class="piling-project-title font-libre"><a href="single-project-branding.html" class="a-change-bg">三白酒<br> Bottle</a></h3>
                    <div class="piling-project-detail">2017 / Branding</div>
                  </div>
                  <div class="col-xl-4 col-6">
                    <div class="piling-more-total">
                      <a href="work-metro.html">查看更多<br> 伴手礼</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--乌镇答题功能-->
          <div class="section pp-scrollable slide slide5 slide-dark">
            <div class="slide-container">
              <div class="slide-bg"><div class="inside"></div></div>
              <div class="container">
                <div class="h1">乡土文化教育 </div>
                <div class="row">
                  <div class="col-lg-7 col-9">
                    <div class="a-reviews-carousel reviews-carousel-sm owl-carousel owl-theme">
                      <div class="reviews-carousel-item">
                        <div class="inside">
                          <div class="reviews-carousel-text font-libre">答题抢积分</div>
                          <div class="reviews-carousel-author">获取积分抢优惠</div>
                          <div class="reviews-carousel-author-status">答题内容介绍 <span class="text-grey-light">at</span> <em>Invision Inc</em></div>
                        </div>
                      </div>
                      <!--题目内容展示-->
                      <div class="reviews-carousel-item">
                        <div class="inside">
                          <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is something you haven’t been see before. Unique design, lighweight.</div>
                          <div class="reviews-carousel-author">Roberto Firmino</div>
                          <div class="reviews-carousel-author-status">Product Management <span class="text-grey-light">at</span> <em>Invision Inc</em></div>
                        </div>
                      </div>
                      <div class="reviews-carousel-item">
                        <div class="inside">
                          <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is something you haven’t been see before. Unique design, lighweight and outstanding support.</div>
                          <div class="reviews-carousel-author">Roberto Firmino</div>
                          <div class="reviews-carousel-author-status">Product Management <span class="text-grey-light">at</span> <em>Invision Inc</em></div>
                        </div>
                      </div>
                      <div class="reviews-carousel-item">
                        <div class="inside">
                          <div class="reviews-carousel-text font-libre">I don’t know what else to say. This is something you haven’t been see before. Unique design, lighweight and outstanding support.</div>
                          <div class="reviews-carousel-author">Roberto Firmino</div>
                          <div class="reviews-carousel-author-status">Product Management <span class="text-grey-light">at</span> <em>Invision Inc</em></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--乌镇VR3D展示-->
          <div class="section pp-scrollable slide slide6">
            <div class="slide-container">
              <div class="slide-bg"><div class="inside"></div></div>
              <div class="slide-bg slide-bg-circle"><div class="inside"></div></div>
              <div class="container">
                <div class="row slide-content">
                  <div class="col-sm-6">
                    <h2 class="slide-title font-libre h2"><span class="text-primary">乌镇</span> 地理位置</h2>
                    <div class="slide-body">
                      <div class="slide-contact-address">关于我们，联系方式</div>
                      <div class="slide-contact-mail"><a href="mailto:hello@lewisstudio.co" class="underline">hello@lewisstudio.co</a></div>
                      <div class="slide-contact-phone"><a href="tel:+00853462188" class="phone-link">+0085 346 2188</a></div>
                    </div>
                  </div>
                </div>
                <a class="btn btn-primary btn-rounded mr-4" href="home.html">进入主页 <i class="icon ion-ios-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="js/jquery.min.js"></script>
    
    <script src="js/smoothscroll.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/animsition.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.pagepiling.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/ScrollMagic.min.js"></script>
    <script src="js/animation.gsap.min.js"></script>
    <script src="js/jquery.viewport.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/script.js"></script>

    <script>
      $(document).ready(function() {
        $('.a-pagepiling').pagepiling({
          scrollingSpeed: 280,
          menu: '#menu',
          loopTop: true,
          loopBottom: true,
          navigation: {
                'position': 'right'
          },
          afterLoad: function(anchorLink, index){
            if(index == 1 || index == 3 || index == 5){ // Section with dark bacgkrounds
              $('body').addClass('dark-horizontal');
            }
            else{
              $('body').removeClass('dark-horizontal');
            }
          },
          onLeave: function(){
            $('.section.active .slide-bg-list .slide-bg').removeClass('active').eq(0).addClass('active')
          }
        });

        $('.a-pp-prev').on('click', function(){
          $.fn.pagepiling.moveSectionUp();
        });
        $('.a-pp-next').on('click', function(){
          $.fn.pagepiling.moveSectionDown();
        });
      });
    </script>

  </body>
</html>
