<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, ruralUser-scalable=no">
<link href="css/front/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/front/style.css" rel="stylesheet" type="text/css">
<link href="css/front/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--弹幕视频-->
<link href="danmu/css/scojs.css" rel="stylesheet">
<link href="danmu/css/colpick.css" rel="stylesheet">
<link href="danmu/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="danmu/css/main.css">

<script src="js/front/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    function getUrlParms(para){
        var search=location.search; //页面URL的查询部分字符串
        var arrPara=new Array(); //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
        var arrVal=new Array(); //参数值数组。用于存储查找到的参数值

        if(search!=""){
            var index=0;
            search=search.substr(1); //去除开头的“?”
            arrPara=search.split("&");

            for(i in arrPara){
                var paraPre=para+"="; //参数前缀。即参数名+“=”，如“para=”
                if(arrPara[i].indexOf(paraPre)==0&& paraPre.length<arrPara[i].length){
                    arrVal[index]=decodeURI(arrPara[i].substr(paraPre.length)); //顺带URI解码避免出现乱码
                    index++;
                }
            }
        }

        if(arrVal.length==1){
            return arrVal[0];
        }else if(arrVal.length==0){
            return null;
        }else{
            return arrVal;
        }
    }
    function login(){
        var name=$('#userName').val();
        var password=$('#password').val();
        var url =  "forelogin";
        if(0==name.length){
            $("p.errorMessage").html("请输入用户名");
            $("div.loginErrorMessageDiv").css("visibility","visible");
            return;
        }
        if(0==password.length){
            console.log("密码")
            $("p.errorMessage").html("请输入密码");
            $("div.loginErrorMessageDiv").css("visibility","visible");
            return;
        }
        var formatData=new FormData();
        formatData.append("name",name);
        formatData.append("password",password);
        axios.post(url,formatData).then(function(response) {
            var result = response.data;
            if(result.code==0){
                location.href="frontIndex";
            }
            else{
                $("p.errorMessage").html(result.message);
                $("div.loginErrorMessageDiv").css("visibility","visible");
            }
        });
    }
    function register(){
        var name=$('#userName2').val();
        var password=$('#inputRePass').val();
        var url =  "foreregister";
        if(0==name.length){
            $("p.errorMessage2").html("请输入用户名");
            $("div.registerErrorMessageDiv").css("visibility","visible");
            return;
        }
        if(0==password.length){
            console.log("密码")
            $("p.errorMessage2").html("请输入密码");
            $("div.registerErrorMessageDiv").css("visibility","visible");
            return;
        }
        var formatData=new FormData();
        formatData.append("name",name);
        formatData.append("password",password);
        axios.post(url,formatData).then(function(response) {
            var result = response.data;
            if(result.code==0){
                console.log("登录成功")

            }
            else{
                $("p.errorMessage2").html(result.message);
                $("div.registerErrorMessageDiv").css("visibility","visible");
            }
        });
    }
</script>
<title>乡村教育文化</title>
<body>
<div th:replace="rural/include/front/top::html"></div>
<div class="empty-space h30-md"></div>
<div id="danmup" style="left: 50%;margin-left:-400px;top:100px">
</div>
<div class="popup-wrapper">
    <div class="bg-layer"></div>
    <!--用户信息页面-->
    <div th:replace="rural/include/front/userInfo::html" ></div>
    <!--登录页面-->
    <div th:replace="rural/include/front/login::html" ></div>
    <!--注册页面-->
    <div th:replace="rural/include/front/register::html" ></div>
    <!--购物车页面-->
    <div th:replace="rural/include/front/cart::html" ></div>
</div>
<script src="js/front/jquery.sumoselect.min.js"></script>
<script src="js/front/isotope.pkgd.min.js"></script>
<script src="js/front/global.js"></script>
<script src="js/vue/2.5.16/vue.min.js"></script>
<script src="js/axios/0.17.1/axios.min.js"></script>
<script src="js/moment/2.22.2/moment.js"></script>
<!--弹幕视频-->


<script src="danmu/js/jquery.shCircleLoader.js"></script>
<script src="danmu/js/sco.tooltip.js"></script>
<script src="danmu/js/colpick.js"></script>
<script src="danmu/js/jquery.danmu.js"></script>
<script src="danmu/js/main.js"></script>

<script>
    $("#danmup").DanmuPlayer({
        src:"http://www.jplayer.org/video/m4v/Incredibles_Teaser.m4v",
        height: "480px", //区域的高度
        width: "800px" //区域的宽度
        ,urlToGetDanmu:"showBarrage"//服务端获取弹幕来前端
        ,urlToPostDanmu:"sendBarrage"//前端发送弹幕到服务端
    });

    $("#danmup .danmu-div").danmu("addDanmu",[
        { "text":"我是你八佰伴" ,"color":"white","size":"1","position":"0","time":2}
        ,{ "text":"我是帽子绿" ,color:"green",size:1,position:0,time:3}
        ,{ "text":"哈哈哈啊哈" ,color:"black",size:1,position:0,time:10}
        ,{ "text":"这是顶部弹幕" ,color:"yellow" ,size:1,position:1,time:3}
        ,{ "text":"这是底部弹幕" , color:"red" ,size:1,position:2,time:9}
        ,{ "text":"大家好，我是伊藤橙" ,color:"orange",size:1,position:1,time:3}

    ]);

    var socket;
    if (typeof (WebSocket) == "undefined") {
        console.log("遗憾：您的浏览器不支持WebSocket");
    } else {
        console.log("恭喜：您的浏览器支持WebSocket");
        //实现化WebSocket对象
        //指定要连接的服务器地址与端口建立连接
        //注意ws、wss使用不同的端口。我使用自签名的证书测试，
        //无法使用wss，浏览器打开WebSocket时报错
        //ws对应http、wss对应https。
        socket = new WebSocket("ws://localhost:8080/ws/asset");
        //连接打开事件
        socket.onopen = function() {
            console.log("Socket 已打开");
            socket.send("消息发送测试(From Client)");
        };
        //收到消息事件
        socket.onmessage = function(msg) {
            console.log(msg.data);
        };
        //连接关闭事件
        socket.onclose = function() {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function() {
            alert("Socket发生了错误");
        }
        //窗口关闭时，关闭连接
        window.unload=function() {
            socket.close();
        };
    }

</script>
</body>
</html>