<div th:fragment="html" xmlns:th="http://www.thymeleaf.org">
    <section class="section">

        <div class="empty-space h0-xs h80-md"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center"><h2 class="h2">乌镇风光</h2></div>
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="text-center grey-dark">
                        <div class="empty-space h25-xs"></div>
                        <p>美丽的乌镇风光是我们的家，江南水乡</p></div>
                </div>
            </div>
            <div class="empty-space h45-xs h40-md"></div>
            <div class="sorting-menu">
                <div class="button-drop">
                    <a href="#"><span>Advertising</span><i class="fa fa-angle-down"
                                                                                aria-hidden="true"></i><i
                        class="fa fa-angle-up" aria-hidden="true"></i></a></div>
                <ul>
                    <li data-filter="*" class="active" data-name="All">乌村图集</li>
                    <li th:if="${status.index}<3" th:each="cs,status:${cs}" th:attr="data-filter='.category-'+${cs.id},data-name=${cs.name}" th:text="${cs.name}"></li>
                </ul>
            </div>
        </div>
        <div class="empty-space h50-xs h50-sm"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="izotope-container" style="position: relative; height: 573.844px;">
                        <div class="grid-sizer"></div>
                        <div  th:each="p:${ps}" th:if="${p.category.id}>3" th:attr="class='item category-'+${p.category.id}+' w-25 grid-item-full'"
                             style="position: absolute; left: 0px; top: 0px;">
                            <div class="desc-text-wrap">
                                <a th:href="'img/productSingle/'+${p.firstProductImage.id}+'.jpg'" class="lightbox">
                                    <img  th:src="'img/productSingle/'+${p.firstProductImage.id}+'.jpg'"  alt=""></a>
                                <div class="desc-text">
                                    <a class="h6" href="land.html" th:text="${p.name}"></a>
                                    <p>branding / photoshooting</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
