<div id="app" th:fragment="html">
    <div class="container">
        <div class="cart">
            <div class="item-list-wrap">
                <div class="cart-item">
                    <div class="cart-item-head">
                        <ul>
                            <li>商品信息</li>
                            <li>商品金额</li>
                            <li>商品数量</li>
                            <li>总金额</li>
                            <li>编辑</li>
                        </ul>
                    </div>

                    <ul class="cart-item-list">
                        <li v-for="(item,index) in productList">

                            <div class="cart-tab-1">
                                <div class="cart-item-check">

                                    <a href="javascript:;" class="item-check-btn" v-bind:class="{'check':item.checked} " @click="selectedProduct(item)">
                                        <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
                                    </a>
                                </div>

                                <div class="cart-item-pic">
                                    <img :src="'img/productSingle_small/'+item.product.id+'.jpg'" alt="">

                                </div>

                                <div class="cart-item-title">
                                    <div class="item-name">
                                        {{ item.product.name}}
                                    </div>
                                </div>

                                <!--<div class="item-include">
                                    <dl>
                                        <dt>赠送</dt>
                                        <dd v-for="part in item.parts" v-text="part.partsName"></dd>
                                    </dl>
                                </div>-->
                            </div>

                            <div class="cart-tab-2">

                                <div class="item-price"> {{ item.product.price }}</div>
                            </div>

                            <div class="cart-tab-3">
                                <div class="item-quantity">
                                    <div class="select-self select-self-open">
                                        <div class="quentity">
                                            <a href="javascript:;" @click=" changeMoney(item,-1)"> - </a>
                                            <input style="text-align: center" type="text" disabled="" v-model="item.number">
                                            <a href="javascript:; " @click=" changeMoney(item,1) "> + </a>
                                        </div>
                                    </div>
                                    <div class="item-stock"> 有货 </div>
                                </div>
                            </div>

                            <div class="cart-tab-4">

                                <div class="item-price-total">{{item.product.price * item.number}}</div>
                            </div>

                            <div class="cart-tab-5">
                                <div class="cart-item-opration">
                                    <a href="javascript:;" class="item-edit-btn" @click="delConfirm(item)">
                                        <svg class="icon icon-del"><use xlink:href="#icon-del"></use></svg>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cart-foot-wrap">

                <div class="cart-foot-l">
                    <div class="item-all-check">
                        <a href="javascript:;">

<span class="item-check-btn" :class="{'check': checkAllFlag}" @click="checkAll(true)">
<svg class="icon icon-ok">
    <use xlink:href="#icon-ok"></use></svg>
</span>
                            <span @click="checkAll(true)"> 全选 </span>
                        </a>
                    </div>
                    <div class="item-all-del">
                        <a href="javascript:;" @click="checkAll(false)"> 取消全选</a>
                    </div>
                </div>

                <div class="cart-foot-r">
                    <div class="item-total">
                        总价：<span class="total-price"> {{ totalMoney }}</span>
                    </div>
                    <div class="next-btn-wrap">
                        <a href="javascript:;" @click="check" class="btn btn--red"> 结账 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-modal modal-msg md-modal-transtion " id="showModal" :class="{'md-show': delFlag}">
        <div class="md-modal-inner">
            <div class="md-top">
                <button class="md-close" @click="delFlag= false"> 关闭 </button>
            </div>
            <div class="md-content">
                <div class="confirm-tips">
                    <p id="cusLanInfo" lan="Cart.Del.Confirm">你确认删除此订单信息吗?</p>
                </div>
                <div class="btn-wrap col-2" style="display: block">
                    <button class="btn btn--m" id="btnModalConfirm" @click=" delProduct()"> YES</button>
                    <button class="btn btn--m  btn--red" id="btnModalCancel" @click=" delFlag = false"> NO</button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay" id="showOverLay" v-if=" delFlag"></div>
</div>