<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="front/assets/css/vendor.css">
<link rel="stylesheet" href="front/assets/css/main.css">
<head th:include="rural/include/header::html">

<body>

<div class="wrapper"><!-- Header Start -->
    <header th:replace="rural/include/top::html"></header>
    <div class="section section-content" id="App">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-10">
                    <h3 class="section-item-title-xs">featured works</h3>
                    <h1 class="h2-flash font-abril">我的购物车</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="main-content-wrapper">
                <div class="page-content-inner ptb--80 pt-md--40 ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mb-md--50">
                                <form class="cart-form" action="#">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="table-content table-responsive">
                                                <table class="table text-center">
                                                    <thead>
                                                    <tr>
                                                        <th>操作</th>
                                                        <th class="text-left">图片</th>
                                                        <th>伴手礼</th>
                                                        <th>价格</th>
                                                        <th>数量</th>
                                                        <th>总价格</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="record in records">
                                                        <td class="product-remove ">
                                                            <input class="tbCheck" type="checkbox" @click="selectedProduct(record)"/>
                                                        </td>
                                                        <td class="product-thumbnail text-left">
                                                            <img :src="'front/img/productSingle/'+record.product.firstProductImage.id+'.jpg'"
                                                                 alt="伴手礼"></td>
                                                        <td class="product-name"><h3><a
                                                                href="javascript:;">{{record.product.name}}</a></h3>
                                                        </td>

                                                        <td class="product-price"><span
                                                                class="product-price-wrapper"><span
                                                                class="money singlePrice">{{record.product.price}}</span></span>
                                                        </td>
                                                        <td>
                                                            <div class="quantity-wrapper center-block">
                                                                <div class="quantity">
                                                                    <input type="number" v-model="record.number" class="quantity-input" name="qty">
                                                                    <div class="dec qtybutton"
                                                                         @click="record.number=record.number>1?record.number-1:1,doWatch=!doWatch">-</div>
                                                                    <div class="inc qtybutton"
                                                                         @click="record.number=record.number<maxNum?record.number+1:maxNum,doWatch=!doWatch">+</div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="product-quantity">
                                                            <span class="product-price-wrapper">
                                                            <span class="money totalPrice">{{record.product.price*record.number}}</span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters border-top pt--20 mt--20">
                                        <div class="col-sm-6">
                                            <div class="coupon">

                                                <button type="submit" class="cart-form__btn">Apply Coupon</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-sm-right">
                                            <button type="submit" class="cart-form__btn">Clear Cart</button>
                                            <button type="submit" class="cart-form__btn">Update Cart</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">
                                <div class="cart-collaterals">
                                    <div class="cart-totals"><h5 class="font-size-14 font-bold mb--15">购物车 结算</h5>
                                        <div class="cart-calculator">
                                            <div class="cart-calculator__item">
                                                <div class="cart-calculator__item--head"><span>总价格</span></div>
                                                <div class="cart-calculator__item--value"><span >{{totalMoney}}</span>
                                                </div>
                                            </div>
                                            <div class="cart-calculator__item">
                                                <div class="cart-calculator__item--head"><span>优惠价</span></div>
                                                <div class="cart-calculator__item--value"><span>兑换积分优惠后: $20.00</span>
                                                    <div class="shipping-calculator-wrap"><a href="" class="expand-btn">Calculate
                                                        Shipping</a>
                                                        <form id="shipping_calculator"
                                                              class="form shipping-calculator-form hide-in-default">
                                                            <div class="form__group"><select id="calc_shipping_country"
                                                                                             name="calc_shipping_country"
                                                                                             class="nice-select form__input form__input--select">
                                                                <option value="">Select a country…</option>
                                                                <option value="AF">Afghanistan</option>
                                                                <option value="AL">Albania</option>
                                                                <option value="DZ">Algeria</option>
                                                                <option value="AR">Argentina</option>
                                                                <option value="AM">Armenia</option>
                                                                <option value="AU">Australia</option>
                                                                <option value="AT">Austria</option>
                                                                <option value="AZ">Azerbaijan</option>
                                                                <option value="BH">Bahrain</option>
                                                                <option value="BD" selected="selected">Bangladesh
                                                                </option>
                                                                <option value="BD">Brazil</option>
                                                                <option value="CN">China</option>
                                                                <option value="EG">Egypt</option>
                                                                <option value="FR">France</option>
                                                                <option value="DE">Germany</option>
                                                                <option value="HK">Hong Kong</option>
                                                                <option value="HU">Hungary</option>
                                                                <option value="IS">Iceland</option>
                                                                <option value="IN">India</option>
                                                                <option value="ID">Indonesia</option>
                                                                <option value="IR">Iran</option>
                                                                <option value="IQ">Iraq</option>
                                                                <option value="IE">Ireland</option>
                                                                <option value="IT">Italy</option>
                                                                <option value="JP">Japan</option>
                                                                <option value="KW">Kuwait</option>
                                                                <option value="MY">Malaysia</option>
                                                                <option value="MV">Maldives</option>
                                                                <option value="MX">Mexico</option>
                                                                <option value="MC">Monaco</option>
                                                                <option value="NP">Nepal</option>
                                                                <option value="RU">Russia</option>
                                                                <option value="KR">South Korea</option>
                                                                <option value="SS">South Sudan</option>
                                                                <option value="ES">Spain</option>
                                                                <option value="LK">Sri Lanka</option>
                                                                <option value="SD">Sudan</option>
                                                                <option value="SZ">Swaziland</option>
                                                                <option value="SE">Sweden</option>
                                                                <option value="CH">Switzerland</option>
                                                                <option value="TN">Tunisia</option>
                                                                <option value="TR">Turkey</option>
                                                                <option value="UA">Ukraine</option>
                                                                <option value="AE">United Arab Emirates</option>
                                                                <option value="GB">United Kingdom (UK)</option>
                                                                <option value="US">United States (US)</option>
                                                            </select></div>
                                                            <div class="form__group"><select id="calc_shipping_district"
                                                                                             name="calc_shipping_district"
                                                                                             class="nice-select form__input form__input--select">
                                                                <option value="">Select a District…</option>
                                                                <option>BARISAL</option>
                                                                <option>BHOLA</option>
                                                                <option>BANDARBAN</option>
                                                                <option>BRAHMANBARIA</option>
                                                                <option>CHANDPUR</option>
                                                                <option>CHITTAGONG</option>
                                                                <option>COMILLA</option>
                                                                <option>COX'S BAZAR</option>
                                                                <option>DHAKA</option>
                                                                <option>FARIDPUR</option>
                                                                <option>FENI</option>
                                                                <option>GAZIPUR</option>
                                                                <option>GOPALGANJ</option>
                                                                <option>JAMALPUR</option>
                                                                <option>KHAGRACHHARI</option>
                                                                <option>KISHOREGONJ</option>
                                                                <option>LAKSHMIPU</option>
                                                                <option>RMADARIPUR</option>
                                                                <option>MUNSHIGANJ</option>
                                                                <option>MYMENSINGH</option>
                                                                <option>NARAYANGANJ</option>
                                                                <option>NARSINGDI</option>
                                                                <option>NETRAKONA</option>
                                                                <option>NOAKHALI</option>
                                                                <option>RANGAMATI</option>
                                                                <option>RAJBARI</option>
                                                                <option>SHARIATPUR</option>
                                                                <option>SHERPUR</option>
                                                                <option>TANGAIL</option>
                                                            </select></div>
                                                            <div class="form__group mb--10"><input type="text"
                                                                                                   name="calc_shipping_city"
                                                                                                   id="calc_shipping_city"
                                                                                                   class="form__input"
                                                                                                   placeholder="Town / City">
                                                            </div>
                                                            <div class="form__group mb--10"><input type="text"
                                                                                                   name="calc_shipping_zip"
                                                                                                   id="calc_shipping_zip"
                                                                                                   class="form__input"
                                                                                                   placeholder="Postcode / Zip">
                                                            </div>
                                                            <div class="form__group"><input type="submit"
                                                                                            value="Update Totals"
                                                                                            class="btn btn-size-sm">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-calculator__item order-total">
                                                <div class="cart-calculator__item--head"><span>优惠价</span></div>
                                                <div class="cart-calculator__item--value"><span
                                                        class="product-price-wrapper"><span class="money">$226.00</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="front_check_list" class="btn btn-size-md btn-shape-square btn-fullwidth">
                                        确认结算</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="rural/include/bottom::html"></div>
<script type="text/javascript">
    $(function(){
        var url;
        var vue = new Vue({
            el: '#App',
            data: {
                uri: 'front_cart_show',
                record: '',
                records: [],
                user: {name: '', password: 0},
                maxNum: 10,
                totalMoney: 0,
                doWatch:false,
                checkAllFlag: false
            },
            created(){
                this.cartShow()
            },
            watch:{
                doWatch:function(val){
                    var $this=this
                    //计算总价格
                    this.totalMoney=0
                    this.records.forEach(function(record){
                        if(record.checked) $this.totalMoney+=record.product.price*record.number
                    })
                }
            },
            computed:{

            },
            methods: {
                cartShow: function () {
                    if([[${session.user!=null}]]){
                        axios.get(this.uri).then(function (response) {
                            vue.records = response.data;
                        })
                    }
                },
                selectedProduct: function (record) {
                    this.doWatch=!this.doWatch
                    if (typeof record.checked == 'undefined') {
                        Vue.set(record, "checked", true);
                    } else {
                        record.checked = !record.checked;
                    }
                },
            }
        });
    })
</script>
</body>
</html>