<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="rural/include/header::html"></head >


<body class="fixed-footer fixed-footer-md">
    <div class="animsition">

      <div class="wrapper">
        <header th:replace="rural/include/top::html"></header >

        <div class="promo-3d full-height">
          <div class="promo-3d-bg"><img src="img/bg-3d.jpg" alt=""></div>
          <div class="promo-3d-man"><img src="img/bg-3d-man.png" alt=""></div>
          <div class="container">
            <div class="promo-screen-titles">
              <div class="top-title wow fadeInUp" data-wow-delay=".2s">欢迎您</div>
              <h1 class="font-custom wow fadeInUp" data-wow-delay=".4s"><span class="inside">乌镇，欢迎您</span></h1>
              <div class="row justify-content-md-center">
                <div class="col col-lg-4"><div class="slogan wow fadeInUp" data-wow-delay=".6s">乌镇中国首批十大历史文化名镇<br>十大魅力名镇、全国环境优美乡镇 “中国最后的枕水人家”</div></div>
              </div>
            </div>
          </div>
          <div class="promo-3d-opacity"></div>
        </div>

        <div class="section section-about-3d">
          <!--主要内容：乌镇概述  乌镇名人  特产推荐-->
          <div class="section-item about-3d text-center">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm">乌镇介绍</h3>
              <div class="row text-left">
                <div class="col-md-6">
                  <div class="about-3d-photo">
                    <div class="photo-container">
                      <img height="120px" src="front/img/banner-img-2.jpg" alt="" class="img-fluid">
                      <div class="mask"></div>
                    </div>
                    <div class="rounded-logo stamp font-custom">
                      <svg viewbox="0 0 200 200">
                        <path id="textPath2" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke-width="0"></path>
                        <g font-size="20px">
                          <text text-anchor="start">
                            <textpath xlink:href="#textPath2" startoffset="0%">• &nbsp;  lewis  portfolio &nbsp; • &nbsp; digital  studio</textpath>
                          </text>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 about-3d-detail">
                  <h2 class="h2-3d"><strong>十大历史文化名镇</strong></h2>
                  <div class="lead">中国最后的枕水人家 .江南水乡</div>
                  <div class="lh-md text-grey">
                    乌镇作为中国首批十大历史文化名镇和中国十大魅力名镇、<br>
                    全国环境优美乡镇，素有“中国最后的枕水人家”之誉。2003年<br>
                    ，乌镇被联合国授予亚太地区遗产保护杰出成就奖；2006年，<br>
                    被列入联合国世界文化遗产保护预备清单和中国世界文化遗产预备<br>
                    名单重设目录；2010年，乌镇旅游荣膺嘉兴市首个国家AAAAA旅游景区称号</div>
                  <div class="more more-lg">
                    <a href="about-us.html">查看更多<i class="icon ion-ios-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="vertical-text-left"><a href="tel:853462188" class="phone-link">联系电话: (85) 346 2188</a></div>
            <div class="vertical-text-right"><a href="mailto:hello@lewisstudio.co" class="mail-link">邮箱 2284126545@QQ.COM</a></div>
          </div>



          <div class="section-item projects-3d text-left">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm mb100">中国乌镇</h3>
            </div>
            <div class="container-fluid">
              <div class="project-carousel-3d carousel-container wow fadeIn a-play" data-wow-offset="250" data-wow-duration="0.2s">
                <div class="a-project-carousel owl-carousel owl-theme nav-square nav-white-red nav-inside">
                  <!--乌镇乡土-->
                  <a href="single-project-web-design.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(front/img/banner-img-1.jpg)"></div>
                    <div class="project-carousel-date">乡土文化教育</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">乌镇乡土</h2>
                    </div>
                  </a>
                  <!--乌镇文化-->
                  <a href="single-project-branding.html" class="project-carousel-item text-white">
                    <div class="project-carousel-photo" style="background-image:url(front/img/banner-img-2.jpg)"></div>
                    <div class="project-carousel-date">乡土文化教育</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">乌镇文化</h2>
                    </div>
                  </a>
                  <!--乌镇特产-->
                  <a href="single-project-branding.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(front/img/banner-img-3.jpg)"></div>
                    <div class="project-carousel-date">乡土文化教育</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">乌镇特产</h2>
                    </div>
                  </a>
                  <!--乌镇风光-->
                  <a href="single-project-branding.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(front/img/banner-img-4.jpg)"></div>
                    <div class="project-carousel-date">乡土文化教育</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">乌镇风光</h2>
                    </div>
                  </a>
                </div>
                <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.5s"></div>
              </div>
            </div>
          </div>

          <div class="section section-last text-center editorials">
            <div class="container">
              <div class="wow fadeInUp" data-wow-duration=".6s" data-wow-offset="450">
                <h3 class="section-item-title">伴手礼推荐</h3>
                <div class="editorials-descr text-grey">答题获得积分，更多优惠购买伴手礼</div>
              </div>

              <div class="article-list row wow fadeInUp" data-wow-duration=".5s" data-wow-offset="450">
                <div class="col-md-4" th:each="p,status:${ps}" th:if="${status.index}<6">
                  <div class="article-item">
                    <div class="article-item-photo zooming wow fadeInDown" data-wow-delay=".4s" data-wow-offset="450">
                      <a th:href="'front_foodDetail_list?id='+${p.id}" >
                        <img th:src="'front/img/productSingle/'+${p.firstProductImage.id}+'.jpg'" alt="" class="img-fluid">
                      </a>
                    </div>
                    <div class="article-item-category">
                      <a th:href="'front_foodDetail_list?id='+${p.id}" th:text="${p.name}"></a></div>
                    <div class="article-item-title">
                      <a  th:href="'front_foodDetail_list?id='+${p.id}" th:text="${p.content}"></a></div>
                    <div class="article-item-date text-grey">December 25, 2018</div>
                  </div>
                </div>

              </div>
            </div>
          </div>




        </div>
      </div>

      <footer th:replace="rural/include/footer::html"></footer >
    </div>


    <div th:include="rural/include/bottom::html"></div >
  </body>
</html>
