<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="rural/include/header::html"></head >


<body class="fixed-footer fixed-footer-md">
    <div class="animsition">
      <!--主要内容：乌镇概述  乌镇名人  特产推荐-->
      <div class="wrapper">
        <header th:replace="rural/include/top::html"></header >

        <div class="promo-3d full-height">
          <div class="promo-3d-bg"><img src="img/bg-3d.jpg" alt=""></div>
          <div class="promo-3d-man"><img src="img/bg-3d-man.png" alt=""></div>
          <div class="container">
            <div class="promo-screen-titles">
              <div class="top-title wow fadeInUp" data-wow-delay=".2s">欢迎您</div>
              <h1 class="font-custom wow fadeInUp" data-wow-delay=".4s"><span class="inside">乌镇，欢迎您</span></h1>
              <div class="row justify-content-md-center">
                <div class="col col-lg-4"><div class="slogan wow fadeInUp" data-wow-delay=".6s">乌镇中国首批十大历史文化名镇<br>十大魅力名镇、全国环境优美乡镇 “中国最后的枕水人家”</div></div>
              </div>
            </div>
          </div>
          <div class="promo-3d-opacity"></div>
        </div>

        <div class="section section-about-3d">
          <div class="section-item about-3d text-center">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm">lewis studio</h3>
              <div class="row text-left">
                <div class="col-md-6">
                  <div class="about-3d-photo">
                    <div class="photo-container">
                      <img src="img/pic28.jpg" alt="" class="img-fluid">
                      <div class="mask"></div>
                    </div>
                    <div class="rounded-logo stamp font-custom">
                      <svg viewbox="0 0 200 200">
                        <path id="textPath2" d="M 85,0 A 85,85 0 0 1 -85,0 A 85,85 0 0 1 85,0" transform="translate(100,100)" fill="none" stroke-width="0"></path>
                        <g font-size="20px">
                          <text text-anchor="start">
                            <textpath xlink:href="#textPath2" startoffset="0%">• &nbsp;  lewis  portfolio &nbsp; • &nbsp; digital  studio</textpath>
                          </text>
                        </g>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 about-3d-detail">
                  <h2 class="h2-3d"><strong>Creative Design &amp;</strong> Advertising.</h2>
                  <div class="lead">We know that good design mean that good business.<br> Design is so simple.</div>
                  <div class="lh-md text-grey">We help our client suceed by creating identities, digital experiences,<br> and printmaterials that communicate clearly, achieve marketing goals, and<br> look fantastic</div>
                  <div class="more more-lg"><a href="about-us.html">more about us<i class="icon ion-ios-arrow-right"></i></a></div>
                </div>
              </div>
            </div>
            <div class="vertical-text-left"><a href="tel:853462188" class="phone-link">TEL: (85) 346 2188</a></div>
            <div class="vertical-text-right"><a href="mailto:hello@lewisstudio.co" class="mail-link">hello@lewisstudio.co</a></div>
          </div>

          <div class="section-item projects-3d text-left">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm mb100">latest project</h3>
            </div>

            <div class="container-fluid">
              <div class="project-carousel-3d carousel-container wow fadeIn a-play" data-wow-offset="250" data-wow-duration="0.2s">
                <div class="a-project-carousel owl-carousel owl-theme nav-square nav-white-red nav-inside">
                  <a href="single-project-web-design.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(img/pic29.jpg)"></div>
                    <div class="project-carousel-date">2018</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">Arquito</h2>
                      <div class="project-carousel-category">Web Design</div>
                    </div>
                  </a>
                  <a href="single-project-branding.html" class="project-carousel-item text-white">
                    <div class="project-carousel-photo" style="background-image:url(img/pic30.jpg)"></div>
                    <div class="project-carousel-date">2018</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">Bottle</h2>
                      <div class="project-carousel-category">branding</div>
                    </div>
                  </a>
                  <a href="single-project-branding.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(img/pic31.jpg)"></div>
                    <div class="project-carousel-date">2018</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">Unero</h2>
                      <div class="project-carousel-category">branding</div>
                    </div>
                  </a>
                  <a href="single-project-branding.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(img/pic32.jpg)"></div>
                    <div class="project-carousel-date">2017</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">Airdnd</h2>
                      <div class="project-carousel-category">branding</div>
                    </div>
                  </a>
                  <a href="single-project-web-design.html" class="project-carousel-item">
                    <div class="project-carousel-photo" style="background-image:url(img/pic33.jpg)"></div>
                    <div class="project-carousel-date">2017</div>
                    <div class="project-carousel-detail">
                      <h2 class="project-carousel-title">G/B</h2>
                      <div class="project-carousel-category">branding, website</div>
                    </div>
                  </a>
                </div>
                <div class="mask wow slideInLeft" data-wow-offset="250" data-wow-duration="1.5s"></div>
              </div>
            </div>
          </div>

          <div class="section-item services-3d">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm">Our services</h3>
              <h2 class="h2-3d"><strong>Best Solutions</strong> for Your Business</h2>
              <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s" data-wow-offset="200">
                  <a href="service.html" class="service-item">
                    <div class="service-item-photo" style="background-image: url(img/pic34.png);"></div>
                    <div class="services-letter font-custom">
                      <div class="inside">B</div>
                    </div>
                    <div class="service-item-title">Branded eCommerce</div>
                    <div class="service-item-descr text-grey">We build and activate brands throung cultural insight, strategic vision, and the power of emotion..</div>
                    <span class="btn btn-light">Learn more <i class="icon ion-ios-arrow-right"></i></span>
                  </a>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".4s" data-wow-offset="200">
                  <a href="service.html" class="service-item">
                    <div class="service-item-photo" style="background-image: url(img/pic35.png);"></div>
                    <div class="services-letter font-custom">
                      <div class="inside">D</div>
                    </div>
                    <div class="service-item-title">Digital Experience</div>
                    <div class="service-item-descr text-grey">Reach out your clients better through website & mobile app. Boots converastion rate for your business faster</div>
                    <span class="btn btn-light">Learn more <i class="icon ion-ios-arrow-right"></i></span>
                  </a>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay=".6s" data-wow-offset="200">
                  <a href="service.html" class="service-item">
                    <div class="service-item-photo" style="background-image: url(img/pic36.png);"></div>
                    <div class="services-letter font-custom">
                      <div class="inside">A</div>
                    </div>
                    <div class="service-item-title">Advertising &amp; SEO</div>
                    <div class="service-item-descr text-grey">Impressive and communicate with your clients better throung animation &amp;&nbsp;motion video</div>
                    <span class="btn btn-light">Learn more <i class="icon ion-ios-arrow-right"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="section-item text-center">
            <div class="container">
              <h3 class="section-item-title section-item-title-sm">our partners</h3>
              <div class="partner-list row align-items-center">
                <div class="col partner-item wow fadeIn" data-wow-delay=".1s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic4.jpg" alt="" width="132"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".2s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic5.jpg" alt="" width="116"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".3s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic6.jpg" alt="" width="104"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".4s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic7.jpg" alt="" width="125"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".5s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic8.jpg" alt="" width="150"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".1s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic17.png" alt="" width="141"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".2s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic18.png" alt="" width="104"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".3s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic20.png" alt="" width="124"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".4s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic21.png" alt="" width="140"></a></div>
                <div class="col partner-item wow fadeIn" data-wow-delay=".5s" data-wow-offset="100"><a href="" class="inside"><img src="img/pic22.png" alt="" width="134"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer th:replace="rural/include/footer::html"></footer >
    </div>


    <div th:include="rural/include/bottom::html"></div >
  </body>
</html>
