<div id="about" th:fragment="html"  class="about-section section">
    <div class="table">
        <div class="table-cell">
            <div class="container"><!-- Section Wrapper -->
                <div class="section-wrapper animated row fadeInUp"><!-- Section Title -->
                    <div class="col-xs-12">
                        <div class="section-title"><h1>About me</h1>
                            <p>Let me introduce myself</p></div>
                    </div><!-- Section Title End -->
                    <!-- About Me -->
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="about-image col-md-6 col-xs-12"><img src="img/front/photo.jpg" alt="photo"></div>
                            <!-- About Content -->
                            <div class="about-me col-md-8 col-xs-12"><h2>I'm <span>Johnatan Doe</span></h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                    qui</p><a href="#" class="button"><i
                                        class="ti-download"></i><span>Download CV</span></a>
                                <a href="#"
                                                                                               class="button"><i
                                        class="ti-pin-alt"></i><span>Hire Me Now</span></a></div>
                        </div>
                    </div><!-- About Me End -->
                    <div class="col-xs-12">
                        <div class="row about-bottom"><!-- Personal Information -->
                            <div class="per-info col-md-6 col-xs-12"><!-- Sub Section Title -->
                                <div class="title-label-2"><i class="ti-agenda"></i>
                                    <h2>Personal Info</h2></div>
                                <ul>
                                    <li><span>Name</span>Johnatan Doe</li>
                                    <li><span>Born</span>23 - 6 - 1991</li>
                                    <li><span>Phone</span>+312-683-7100</li>
                                    <li><span>Email</span>johnatan@domain.com</li>
                                    <li><span>Address</span>121 King Street Melboune VIC 3000, Australia</li>
                                </ul>
                            </div><!-- Personal Information End --><!-- Skills -->
                            <div class="skills col-md-6 col-xs-12"><!-- Sub Section Title -->
                                <div class="title-label-2"><i class="ti-settings"></i>
                                    <h2>My Skills</h2></div><!-- Skill Slider -->
                                <div class="skill-slider owl-carousel owl-theme owl-loaded"><!-- Single Skill -->
                                    <!-- Single Skill --><!-- Single Skill --><!-- Single Skill -->
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage"
                                             style="transform: translate3d(-555px, 0px, 0px); transition: all 0s ease 0s; width: 1850px;">
                                            <div class="owl-item cloned" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="73"><span
                                                        class="percent">73%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>PHP</h3></div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="80"><span
                                                        class="percent">80%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>mysql</h3></div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="80"><span
                                                        class="percent">80%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>Wordpress</h3></div>
                                            </div>
                                            <div class="owl-item active" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="98"><span
                                                        class="percent">98%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>HTML5 &amp; CSS3</h3></div>
                                            </div>
                                            <div class="owl-item active" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="73"><span
                                                        class="percent">73%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>PHP</h3></div>
                                            </div>
                                            <div class="owl-item active" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="80"><span
                                                        class="percent">80%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>mysql</h3></div>
                                            </div>
                                            <div class="owl-item" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="80"><span
                                                        class="percent">80%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>Wordpress</h3></div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="98"><span
                                                        class="percent">98%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>HTML5 &amp; CSS3</h3></div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="73"><span
                                                        class="percent">73%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>PHP</h3></div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 185px; margin-right: 0px;">
                                                <div class="sin-skill"><span class="chart" data-percent="80"><span
                                                        class="percent">80%</span><canvas height="120"
                                                                                          width="120"></canvas></span>
                                                    <h3>mysql</h3></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-controls">
                                        <div class="owl-nav">
                                            <div class="owl-prev" style=""><i class="ti-angle-left"></i></div>
                                            <div class="owl-next" style=""><i class="ti-angle-right"></i></div>
                                        </div>
                                        <div class="owl-dots" style="display: none;"></div>
                                    </div>
                                </div><!-- Skill Slider End --></div><!-- Skills End --><!-- Hobbies -->
                            <div class="hobbies col-md-6 col-xs-12"><!-- Sub Section Title -->
                                <div class="title-label-2"><i class="ti-heart"></i>
                                    <h2>My Hobbies</h2></div>
                                <ul>
                                    <li>
                                        <div class="hobbie"><i class="ti-game"></i><span>Gamming</span></div>
                                    </li>
                                    <li>
                                        <div class="hobbie"><i class="ti-book"></i><span>Reading</span></div>
                                    </li>
                                    <li>
                                        <div class="hobbie"><i class="ti-camera"></i><span>Photograpy</span></div>
                                    </li>
                                    <li>
                                        <div class="hobbie"><i class="ti-music-alt"></i><span>Music</span></div>
                                    </li>
                                    <li>
                                        <div class="hobbie"><i class="ti-video-clapper"></i><span>Movie</span></div>
                                    </li>
                                </ul>
                            </div><!-- Hobbies End --><!-- Testimonial -->
                            <div class="testimonial col-md-6 col-xs-12"><!-- Sub Section Title -->
                                <div class="title-label-2"><i class="ti-quote-left"></i>
                                    <h2>Clients Say</h2></div><!-- Testimonial Slider -->
                                <div class="testimonial-slider owl-carousel owl-theme owl-loaded">
                                    <!-- Single Testimonial --><!-- Single Testimonial -->
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage"
                                             style="transform: translate3d(-1110px, 0px, 0px); transition: all 0s ease 0s; width: 3330px;">
                                            <div class="owl-item cloned" style="width: 555px; margin-right: 0px;">
                                                <div class="sin-test"><p>Sed ut perspiciatis unde omnis iste natus error
                                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                    beatae vitae dicta sunt explicabo.</p>
                                                    <div class="image fix"><img src="img/front/testimonial/1.jpg" alt=""><h4>
                                                        Nuruddin Ahmed</h4><span>- Ceo of Prime IT</span></div>
                                                </div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 555px; margin-right: 0px;">
                                                <div class="sin-test"><p>Sed ut perspiciatis unde omnis iste natus error
                                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                    beatae vitae dicta sunt explicabo.</p>
                                                    <div class="image fix"><img src="img/front/testimonial/1.jpg" alt=""><h4>
                                                        Nuruddin Ahmed</h4><span>- Ceo of Prime IT</span></div>
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 555px; margin-right: 0px;">
                                                <div class="sin-test"><p>Sed ut perspiciatis unde omnis iste natus error
                                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                    beatae vitae dicta sunt explicabo.</p>
                                                    <div class="image fix"><img src="img/front/testimonial/1.jpg" alt=""><h4>
                                                        Nuruddin Ahmed</h4><span>- Ceo of Prime IT</span></div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 555px; margin-right: 0px;">
                                                <div class="sin-test"><p>Sed ut perspiciatis unde omnis iste natus error
                                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                    beatae vitae dicta sunt explicabo.</p>
                                                    <div class="image fix"><img src="img/front/testimonial/1.jpg" alt=""><h4>
                                                        Nuruddin Ahmed</h4><span>- Ceo of Prime IT</span></div>
                                                </div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 555px; margin-right: 0px;">
                                                <div class="sin-test"><p>Sed ut perspiciatis unde omnis iste natus error
                                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                    beatae vitae dicta sunt explicabo.</p>
                                                    <div class="image fix"><img src="img/front/testimonial/1.jpg" alt=""><h4>
                                                        Nuruddin Ahmed</h4><span>- Ceo of Prime IT</span></div>
                                                </div>
                                            </div>
                                            <div class="owl-item cloned" style="width: 555px; margin-right: 0px;">
                                                <div class="sin-test"><p>Sed ut perspiciatis unde omnis iste natus error
                                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                    beatae vitae dicta sunt explicabo.</p>
                                                    <div class="image fix"><img src="img/front/testimonial/1.jpg" alt=""><h4>
                                                        Nuruddin Ahmed</h4><span>- Ceo of Prime IT</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-controls">
                                        <div class="owl-nav">
                                            <div class="owl-prev" style=""><i class="ti-angle-left"></i></div>
                                            <div class="owl-next" style=""><i class="ti-angle-right"></i></div>
                                        </div>
                                        <div class="owl-dots" style="display: none;"></div>
                                    </div>
                                </div><!-- Testimonial Slider End --></div><!-- Testimonial End --></div>
                    </div>
                </div><!-- Section Wrapper End --></div>
        </div>
    </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 657px; right: 0px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 339px;"></div>
    </div>
</div>